html, body {
  margin: 0;
}

body {
  text-align: left;
  color: #4A4A4A;
  font-family: 'Lato';
  font-size: 16px;
}

header ul {
  display: inline-block;
  float: right;
}

header li {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  padding: 0 1rem;
}

header img {
  position: absolute;
  left: 0;
  right: 0;
}

h1 {
  font-size: 60px;
  position: left;
  padding: 150px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
  position: left;
  padding: 20px, 20px;
}

p {
  font-size: 18px;
  position: left;
}

input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}

#home {
  background: url("../images/ss_bckgd_final.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.agencies li {
  display: inline-block;

}

#process ul {
  list-style-type: square;
}

#process li {
  display: inline-block;
}

.clients li {
  display: inline-block;
}

@media only screen and (max-width: 500px) {
  /*#process .column,*/
  #process .columns {
    width: 50%;
    padding: 0 10px;
  }
}

footer {
  background: black;
  color: white;
  text-align: center;
  padding: 40px 0;
}

footer ul li {
  display: inline-block;
}


footer ul li img {
  max-height: 30px;
}
